.gradle/
build/
bin/
run/
.idea/
*.jar
Archive Jar of all versions/
Archive/
Doc/Marketing/

# Platform Publisher API Token Security Vault
*platform_tokens.json
.agents/config/platform_tokens.json

# Ignored System & Wiki Repo Artifacts
desktop.ini
**/desktop.ini
.wiki/
**/.wiki/
